.submit {
    &__wrap {
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        width: 100%;
        padding: 7px 0;
        outline: none;
        text-align: center;
        background-color: $t-blue-main;
        border: 2px solid $t-blue-main;
        color: white;
        cursor: pointer;
        transition: all 0.25s ease;
        font-family: "Inter", sans-serif;
        @include font-setting (500, 1rem, 1.88rem);
        transition: 0.3 ease all;

        @media screen and (max-width: $sm) {
            font-size: 1.14rem;
            line-height: 2.14rem;
        }

        &:hover {
            background: white;
            color: $t-blue-main;
        }

        &:active {
            transform: scale(0.98);
        }
    }

    &_onclic {
        width: 40px;
        height: 40px;
        border-color: $t-gray;
        border-radius: 100%;
        border-width: 4px;
        background-color: white;
        font-size: 0;
        border-left-color: $t-blue-main;
        animation: rotating 2s 0.25s linear infinite;
    }

    &_error {
        background-color: #D7D9E150;
        border: 2px solid $t-gray;
        color: black;
    }

    &_error:hover {
        color: $t-gray;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}