// Mixin to set font-settings
@mixin font-setting ($w, $s, $l) {
    font-weight: $w;
    font-size: $s;
    line-height: $l;
}

// Font settings
.t-text-form-sm {
    @include font-setting (500, 1rem, 1.88rem)
}

.t-text-form-base {
    @include font-setting (400, 1rem, 1.88rem)
}

.t-text-base {
    @include font-setting (300, 1.13rem, 1.5rem)
}