// Mixin to set font-settings
@mixin font-setting ($w, $s, $l) {
    font-weight: $w;
    font-size: $s;
    line-height: $l;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

// Font settings

.t-text-base {
    @include font-setting (300, 1.13rem, 1.25rem)
}