.wrapper {
    min-height: 100vh;
    background-color: $t-background-main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
}

.mb {
    margin-bottom: 40px;

    @media screen and (max-width: $sm) {
        margin-bottom: 20px;
    }
}

.advantages {
    max-width: 649px;
    display: flex;
    flex-direction: column;

    &__item {
        line-height: 1.5rem;
    }

    & h5 {
        width: fit-content;
        margin: 20px 0;
        @include font-setting (500, 1.25rem, 110%);
        color: $t-blue-main;
    }

    & h4 {
        @include font-setting (600, 2.25rem, 2.81rem);
    }

    & ul {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    & li {
        display: flex;
        gap: 18px;
    }

    & div {
        margin-top: 40px;
        display: flex;
        align-items: baseline;
        gap: 7px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 33px;
    margin-bottom: 20px;
    background-color: #FBFBFB;

    &__full-name {
        display: flex;
        gap: 20px;
    }

    &__full-name input {
        max-width: 225px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &_required {
        position: relative;
    }

    &_required::after {
        content: '*';
        color: $t-blue-main;
        font-size: 1.1rem;
        margin-left: 5px;
    }

    & label {
        @include font-setting (500, 1rem, 1.88rem);
    }

    & input,
    & textarea {
        @include font-setting (400, 1rem, 1.88rem);
        font-family: "Inter", sans-serif;
        padding: 5px 14px;
        border: 2px solid $t-gray;
        transition: 0.2s ease-in;
        border-radius: 0;
    }

    & textarea {
        max-height: 86px;
        resize: none;
    }

    & input::placeholder,
    & textarea::placeholder {
        color: $t-gray;
    }

    & input:focus,
    & textarea:focus {
        outline-color: $t-blue-main;
        background-color: #01ADED07;
        transform: scale(1.01);
    }
}

// tablet (1024px) breakpoint
@media screen and (max-width: $lg) {
    .wrapper .container {
        flex-direction: column;
        gap: 60px;
    }

    .advantages {
        max-width: 100%;

        & h5 {
            @include font-setting (500, 1.14rem, 0.9rem);
        }
    }

    .form {
        width: 100%;

        &__full-name {
            flex-direction: column;
        }

        &__full-name input {
            max-width: 100%;
        }
    }
}

// mibile (640px) breakpoint
@media screen and (max-width: $sm) {
    .wrapper .container {
        flex-direction: column;
        gap: 40px;
    }

    .advantages {
        & h4 {
            @include font-setting (600, 1.71rem, 2.86rem);
        }

        & ul {
            margin-top: 10px;
        }
    }

    .form {
        padding: 32px 30px;

        & label {
            font-size: 1.14rem;
        }

        & input,
        & textarea {
            font-size: 1.14rem;
            line-height: 2.14rem;
        }
    }
}