// Colors variables:
$t-background-main: #F0F1F5;
$t-blue-main: #01ADED;
$t-gray: #D7D9E1;

//screen resolution for containers
$container-exlg: 1320px;
$container-space: 10px;

// media breakpoints
$xl: 1920px;
$lg: 1024px;
$sm: 640px;